@import '/assets/static/stylesheets/fonts/roboto.css';


html {
    font-size: 18pt;
}

u {
    text-decoration: underline;
}

strong {
    color: inherit;
    font-weight: bolder;
}

em {
    font-style: italic;
}

code {
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-weight: normal;
    text-indent: 0;
    letter-spacing: 0;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    background-color: rgba(144, 144, 144, 0.25);
    border-radius: 0.25em;
}

mark {
    background-color: rgba(144, 144, 144, 0.25);
}

s {
    text-decoration: line-through;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

a {
    color: inherit;
    text-decoration: underline;
    transition: color 0.25s ease;
}

#main>.inner {
    position: relative;
    z-index: 1;
    border-radius: inherit;
    max-width: 100%;
    width: var(--width);
    --spacing: 1.5rem;
    padding: var(--padding-vertical) var(--padding-horizontal);
}

#main>.inner>* {
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    transition: opacity 1s ease-in-out 0s;
}

#main>.inner> :first-child {
    margin-top: 0 !important;
}

#main>.inner> :last-child {
    margin-bottom: 0 !important;
}

body.is-instant:after {
    display: none !important;
    transition: none !important;
}

.image {
    position: relative;
    max-width: 100%;
    display: block;
}

.image .frame {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.image .frame img {
    width: inherit;
    max-width: 100%;
    vertical-align: top;
    border-radius: 0 !important;
}

.image.full .frame {
    display: block;
}

.image.full:first-child .frame {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.image.full:last-child .frame {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

#image01 .frame {
    width: 10rem;
    transition: none;
}

#image01 .frame img {
    transition: none;
}

h1,
h2,
h3,
p {
    direction: var(--site-language-direction);
}

h1 br+br,
h2 br+br,
h3 br+br,
p br+br {
    display: block;
    content: ' ';
}

h1 .li,
h2 .li,
h3 .li,
p .li {
    display: list-item;
    padding-left: 0.5em;
    margin: 0.75em 0 0 1em;
}

h1 br+br {
    margin-top: 0.75rem;
}

h1 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    line-height: 1.25;
    font-weight: 900;
}

h1 a {
    text-decoration: underline;
}

h1 a:hover {
    text-decoration: none;
}

.inner > p br+br {
    margin-top: 1.05rem;
}

.inner > p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.75;
    font-weight: 100;
}

.inner > p a {
    text-decoration: underline;
}

.inner > p a:hover {
    text-decoration: none;
}

.icons {
    cursor: default;
    padding: 0;
    letter-spacing: 0;
}

.icons li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.icons li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons li a svg {
    position: relative;
}

.icons li a+svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.icons li a .label {
    display: none;
}

#icons01 {
    font-size: 1.25em;
    width: calc(100% + 1rem);
    margin-left: -0.5rem;
}

#icons01 li {
    margin: 0.5rem;
}

#icons01 li a {
    border-radius: 100%;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#icons01 li a svg {
    width: 60%;
    height: 60%;
    transition: fill 0.25s ease;
}

#icons01 a svg {
    fill: #fff;
}

#icons01 li a+svg {
    transition: fill 0.25s ease, stroke 0.25s ease;
}

#icons01 .anilist:hover {
    background-color: #0085FF;
    -webkit-box-shadow: 0px 15px 20px #0085FF66 !important;
    box-shadow: 0px 15px 20px #0085FF66 !important;
}

#icons01 .github:hover {
    background-color: #12275e;
    -webkit-box-shadow: 0px 15px 20px #12275e66 !important;
    box-shadow: 0px 15px 20px #12275e66 !important;
}

#icons01 .reddit:hover {
    background-color: #FC0505;
    -webkit-box-shadow: 0px 15px 20px #FC050566 !important;
    box-shadow: 0px 15px 20px #FC050566 !important;
}

#more-btn {
    margin: 1em 0 0;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

/* RESPONIVE CSS: START */

@media (max-width: 736px) {
    #main {
        --padding-vertical: 3.5rem;
        --padding-horizontal: 2rem;
    }

    #main>.inner {
        --spacing: 1.5rem;
    }

    #main>.inner>.full {
        margin-left: calc(-2rem);
        width: calc(100% + 4rem + 0.4725px);
        max-width: calc(100% + 4rem + 0.4725px);
    }

    #main>.inner>.full:first-child {
        margin-top: -3.5rem !important;
    }

    #main>.inner>.full:last-child {
        margin-bottom: -3.5rem !important;
    }

    #main>.inner>.full.screen {
        margin-left: -50vw;
    }

    #image01 .frame {
        width: 6rem;
    }

    .inner > p {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.75;
    }
}

@media (max-width: 480px) {
    #main>.inner {
        --spacing: 1.3125rem;
    }
}

@media (max-width: 360px) {
    #main {
        --padding-vertical: 2.625rem;
        --padding-horizontal: 1.5rem;
    }

    #main>.inner {
        --spacing: 1.125rem;
    }

    #main>.inner>.full {
        margin-left: calc(-1.5rem);
        width: calc(100% + 3rem + 0.4725px);
        max-width: calc(100% + 3rem + 0.4725px);
    }

    #main>.inner>.full:first-child {
        margin-top: -2.625rem !important;
    }

    #main>.inner>.full:last-child {
        margin-bottom: -2.625rem !important;
    }

    #main>.inner>.full.screen {
        margin-left: -50vw;
    }

    .inner > p {
        font-size: 1em;
    }
}

/* RESPONSIVE CSS: END */